div.PanelWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 240px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--color-fg);
  color: black;
}

div.PanelWrapper_wide {
  width: 100%;
}

h2.Title {
  background-color: var(--color-fg-dark);
  margin: 0;
  padding: 1rem;
}

section.Content {
  padding: 1rem;
}
