ul.Categories {
  list-style-type: none;
  padding: 0;
}

ul.Categories > li {
  padding: 0 0 1em 0;
}

ul.Categories > li h2 {
  font-weight: 700;
  font-size: inherit;
  margin: 0 0 1em;
}

ul.Categories img {
  margin-left: 16px;
  margin-bottom: 16px;
}

ul.Docs {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}

ul.Docs li {
  margin-bottom: 1em;
  transition: transform 150ms ease-in-out;
}

ul.Docs li:hover {
  transform: translateX(2px);
  margin: 0 0 1em 16px;
}

@media (min-width: 768px) {
  ul.Categories {
    margin-top: 2rem;
  }
}