main.DocWrapper {
  padding: 80px 64px;
  /* background-color: #222; */
}

main.DocWrapper h1,
main.DocWrapper h2,
main.DocWrapper h3,
main.DocWrapper h4 {
  margin: 2em 0 0.25em 0;
  font-weight: 700;
}

main.DocWrapper h1 {
  font-size: 35px;
  margin: 0 0 0.25em 0;
  /* font-weight: 500; */
}

main.DocWrapper h2 {
  font-size: 27px;
  /* font-weight: 500; */
}

main.DocWrapper h3 {
  font-size: 19px;
  /* font-weight: 500; */
}

main.DocWrapper hr {
  width: 50%;
  margin: 2em auto;
  border: none;
  background-color: #eee;
  height: 1px;
  /* font-weight: 500; */
}

main.DocWrapper p {
  font-size: 17px;
  line-height: 1.5;
}

main.DocWrapper p > code, main.DocWrapper li > code {
  font-size: 17px;
  color: #7456ea;
  background-color: #7456ea20;
  padding: 0 0.2rem;
}

p.Description {
  font-size: 21px;
  font-weight: 400;
  color: #777;
  /* font-weight: 500; */
}

main.DocWrapper li {
  line-height: 1.5;
}

main.DocWrapper pre {
  margin: 0;
}
