main.DocWrapper {
  padding: 0 4rem 4rem;
}

main.DocWrapper h1,
main.DocWrapper h2,
main.DocWrapper h3,
main.DocWrapper h4 {
  margin: 2em 0 0.25em 0;
  font-weight: 700;
}

main.DocWrapper h1 {
  font-size: 42px;
  margin: 2rem 0 0;
  color: var(--color-teal);
}

main.DocWrapper h2 {
  font-size: 27px;
}

main.DocWrapper h3 {
  font-size: 19px;
}

main.DocWrapper hr {
  width: 50%;
  margin: 2em auto;
  border: none;
  background-color: var(--color-grey);
  height: 1px;
}

main.DocWrapper p {
  font-size: 17px;
  color: #bbb;
  line-height: 2;
}

main.DocWrapper ul {
  margin-bottom: 4rem;
}

p.Description {
  font-size: 22px !important;
  font-style: italic;
  color: #777;

  margin: 0 0 2em;
}

main.DocWrapper li {
  line-height: 1.5;
}

main.DocWrapper pre {
  margin: 0;
}

main.DocWrapper li {
  line-height: 1.5;
}

/* This styles inline code (i.e. NOT the MDXComponents/code component). */
main.DocWrapper p > code,
main.DocWrapper li > code {
  font-size: 17px;
  color: var(--color-teal);
  background-color: var(--color-teal-transparent);
}

@media (min-width: 768px) {
  main.DocWrapper {
    margin: 5rem 0;
  }
}

@media (min-width: 1180px) {
  main.DocWrapper {
    margin: 5rem 10%;
    width: 66%;
  }
}
