main.DocWrapper {
  padding: 0 2rem 4rem;
  color: #bbb;

  blockquote {
    margin: 0;
    padding: 24px;
    color: #bbb;
    border-radius: 4px;
    background-color: var(--color-bg-light);

    p {
      margin: 0;
    }
  }
}

main.DocWrapper > h1,
main.DocWrapper > h2,
main.DocWrapper > h3,
main.DocWrapper > h4 {
  margin: 2em 0 0.25em 0;
  font-weight: 700;
}

main.DocWrapper > h1 {
  font-size: 36px;
  margin: 2rem 0 0.5rem;
  color: var(--color-teal);
}

main.DocWrapper > h2 {
  font-size: 27px;
}

main.DocWrapper > h3 {
  font-size: 19px;
}

main.DocWrapper > hr {
  width: 50%;
  margin: 2em auto;
  border: none;
  background-color: var(--color-grey);
  height: 1px;
}

main.DocWrapper > p {
  color: #bbb;
  line-height: 1.5;
}

main.DocWrapper > ul {
  margin-bottom: 4rem;
}

p.Description {
  font-size: 22px;
  font-style: italic;
  color: #777;

  margin: 0 0 2em;
}

main.DocWrapper > ul > li {
  line-height: 1.5;
}

main.DocWrapper pre {
  margin: 0;
}

main.DocWrapper a {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.2s;

  &:hover {
    color: #eee;
  }
}

/* This styles inline code (i.e. NOT the MDXComponents/code component). */
main.DocWrapper p > code,
main.DocWrapper li > code {
  font-size: 17px;
  color: var(--color-teal);
  background-color: var(--color-teal-transparent);
  overflow-wrap: break-word;
}

@media (min-width: 768px) {
  main.DocWrapper {
    margin: 1rem 0 5rem;
    padding: 0 4rem 4rem;
  }

  main.DocWrapper > h1 {
    font-size: 42px;
  }
}

@media (min-width: 1180px) {
  main.DocWrapper {
    margin: 4rem 10%;
    width: 66%;
  }

  main.DocWrapper h1 {
    margin-top: 0;
  }
}
