:root,
*::after,
*::before {
  --color-fg: #333;
  --color-bg: white;
  --color-grey: #ddd;
  --color-blue: #0070f3;

  --color-brand: #80ffd9;
  --color-brand-dark: #2f9273;
  --color-brand-transparent: #93dcc61b;
}
