div.CodeExampleWrapper {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  margin: 1.5rem 0 1rem;
}

ul.CodeSections {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

@media (min-width: 1024px) {
  div.CodeExampleWrapper {
    flex-direction: row;
    margin: 3rem 0 2rem;
  }

  ul.CodeSections {
    padding-right: 0;
  }
}

li.CodeSection {
  padding: 0;
  padding: 1rem;
  margin: 0 -1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

li.CodeSection:hover {
  transform: translate(0, -0.1rem);
  border-color: var(--color-grey);
}

li.CodeSection_active_true {
  border-color: var(--color-blue) !important;
}

li.CodeSection h3 {
  margin: 0;
}

li.CodeSection p {
  margin: 0;
}
