div.CodeExampleWrapper {
  display: flex;
  padding: 1rem 3rem;
  flex-direction: column;
  margin: 1.5rem 0 1rem;
  max-width: 1440px;
  background: radial-gradient(
    circle at 50% 30%,
    hsla(162, 100%, 75%, 0.2),
    rgba(255, 255, 255, 0) 20%
  );
}

ul.CodeSections {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 2rem 0 3rem;
  align-items: center;
}

@media (min-width: 1024px) {
  div.CodeExampleWrapper {
    flex-direction: row;
    margin: 3rem auto 2rem;
    padding: 1rem 4rem;
    gap: 2rem;
    background: radial-gradient(
      circle at 30% 50%,
      hsla(162, 100%, 75%, 0.2),
      rgba(255, 255, 255, 0) 30%
    );
  }

  div.CodeExampleWrapper h2 {
    margin-top: 0;
  }

  ul.CodeSections {
    padding-right: 0;
  }
}

li.CodeSection {
  padding: 0;
  padding: 1rem;
  margin: 0 -1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #ffffff44;
  box-shadow: 0 0 16px hsla(163, 13%, 73%, 0.3);
  transition: all 0.3s ease-in-out;
  width: 100%;
}

li.CodeSection:hover {
  transform: translate(0, -0.1rem);
  background-color: white;
  scale: 1.03;
}

li.CodeSection_active_true {
  border-color: var(--color-blue);
  background-color: white;
  scale: 1.03;
}

li.CodeSection h3 {
  margin: 0;
}

li.CodeSection p {
  margin: 0;
}
