button.DemoButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(179, 179, 8);
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding: 12px 24px;
  cursor: pointer;
}

button.colorTeal {
  color: black;
  background-color: var(--color-teal);
}

button.colorTeal:hover {
  background-color: var(--color-teal-dark);
}

button.colorGray {
  color: var(--color-fg);
  background-color: var(--color-grey);
}

button.colorGray:hover {
  background-color: hsla(0, 0%, 55%, 0.15);
}

button.sizeSmall {
  font-size: 12px;
  font-weight: 500;
}

button.sizeLarge {
  font-size: 20px;
  height: 60px;
}

button.outlined {
  border: 2px solid var(--color-grey);
  background-color: transparent;
}

button.colorOutlinedTeal {
  color: var(--color-teal);
  border-color: var(--color-teal-dark);
}

button.colorOutlinedTeal:hover {
  color: black;
  background-color: var(--color-teal);
  border: 2px solid var(--color-teal);
}

button.colorOutlinedGray {
  color: var(--color-fg);
}

button.colorOutlinedGray:hover {
  color: white;
  background-color: var(--color-grey);
  border: 2px solid transparent;
}
