button.DemoButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(179, 179, 8);
  border: none;
  border-radius: 999px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding: 12px 24px;
  cursor: pointer;
}

button.colorBlue {
  color: white;
  background-color: var(--color-blue);
}

button.colorBlue:hover {
  background-color: var(--color-blue-dark);
}

button.colorGray {
  color: #444;
  background-color: #f4f4f4;
}

button.colorGray:hover {
  background-color: #e4e4e4;
}

button.sizeSmall {
  font-size: 12px;
  font-weight: 500;
}

button.sizeLarge {
  font-size: 20px;
  height: 56px;
}

button.outlined {
  border: 2px solid #333;
  background-color: transparent;
}

button.colorOutlinedBlue {
  color: var(--color-blue);
  border-color: var(--color-blue-dark);
}

button.colorOutlinedBlue:hover {
  color: white;
}

button.colorOutlinedGray {
  color: gray;
  border-color: #e4e4e4;
}

button.colorOutlinedGray:hover {
  color: #333;
}
