div.CodeWrapper {
  font-size: 15px;
  line-height: 1.4;

  border: 1px solid var(--color-grey);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.CodeWrapper pre {
  margin: 0 !important;
  height: 100%;
}

main.DocWrapper p > code,
main.DocWrapper li > code {
  font-size: 17px;
  color: var(--color-teal);
  background-color: var(--color-teal-transparent);
  padding: 0 0.2rem;
}

/* @media (min-width: 1024px) {
  div.CodeWrapper {
    margin-left: 1rem;
    width: calc(100% - 1rem);
  }
} */
