span.CodeClipboard {
  display: flex;
  gap: 10px;

  background-color: var(--color-bg-dark);
  color: inherit;

  font-family: monospace;
  font-size: 16px;

  border-radius: 4px;
  padding: 12px 32px;

  cursor: pointer;
  transition: 0.3s;
}

span.CodeClipboard_copied_true {
  scale: 1.04;
  background-color: var(--color-teal);
  color: var(--color-bg);
}
