div.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.Container_sideBar_true {
  margin-left: 256px;
}

main.Hero {
  padding: 4em;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fg);
  color: var(--color-bg);
}

main.Hero h1 {
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

@media (min-width: 768px) {
  main.Hero h1 {
    font-size: 4rem;
  }

  main.Hero {
    padding: 7em 4em;
  }
}

main.Hero h1 a:hover,
main.Hero h1 a:focus,
main.Hero h1 a:active {
  text-decoration: underline;
}

main.Hero p {
  text-align: center;
  color: var(--color-bg);
  opacity: 0.5;
  margin: 0;
  position: relative;
  top: -1rem;
}

main.Hero ul {
  margin: 0;
  /* margin-top: 2em; */
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

main.Hero ul li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  border-radius: 1rem;
  font-weight: bold;
  transition: color 1s ease;
}

main.Hero ul li a:hover {
  color: var(--color-blue);
  transition: color 100ms ease;
}

main.Hero ul li a svg {
  margin-right: 0.5rem;
}
