div.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.Container_hasBackground_true {
  background: var(--color-bg) url("/background.png") center no-repeat fixed;
  background-size: contain;
}

main.Hero {
  padding: 4em;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-fg);
}

main.Hero h1 {
  font-size: 2rem;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  width: 125%;

  margin: 0;

  /* This may need to change if the font changes */
  line-height: 1.1;
}

main.Hero h1 span {
  color: var(--color-teal);
}

main.Hero h1 a:hover,
main.Hero h1 a:focus,
main.Hero h1 a:active {
  text-decoration: underline;
}

main.Hero p {
  text-align: center;
  color: #999;
  margin: 0;
  padding-bottom: 2rem;
}

main.Hero ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

main.Hero ul li a {
  display: flex;
  align-items: center;
  font-size: large;
  padding: 18px;
  color: var(--color-fg);
  border: 2px solid var(--color-grey);
  border-radius: 4px;
  font-weight: bold;
  transition: 0.2s ease;
}

main.Hero ul li a:hover {
  color: var(--color-teal);
  background-color: #070a1144;
  /* scale: 1.03; */
  transition: 0.2s ease;
}

main.Hero ul li a svg {
  margin-right: 0.5rem;
}

@media (min-width: 380px) {
  main.Hero ul {
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  main.Hero h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  main.Hero h1 {
    font-size: 4rem;
  }

  main.Hero p {
    font-size: 1.5em;
  }

  div.Container_sideBar_true {
    margin-left: 256px;
  }
}

@media (min-width: 992px) {
  main.Hero {
    padding: 10em 12em 6em;
    max-width: 1120px;
    margin: 0 auto;
  }
}
