div.Container {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.Container_sideBar_true {
  margin-left: 256px;
}

main.Hero {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.Hero h1 {
  margin: 0;
  font-size: 59px;
  font-style: normal;
  font-weight: 500;
}

main.Hero h1 {
  text-decoration: none;
  text-align: center;
}

main.Hero h1 a:hover,
main.Hero h1 a:focus,
main.Hero h1 a:active {
  text-decoration: underline;
}

main.Hero p {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 21px;
  color: #777;
  max-width: 640px;
  text-align: center;
}
