ul.HeroFeaturesWrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (min-width: 968px) {
  ul.HeroFeaturesWrapper {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

ul.HeroFeaturesWrapper li {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* max-width: 300px; */
  transition: color 0.15s ease, border-color 0.15s ease;
}

ul.HeroFeaturesWrapper h2 {
  margin: 0;
  font-size: 1.5rem;
}

ul.HeroFeaturesWrapper p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

ul.HeroFeaturesWrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand);
  color: var(--color-bg);
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}