button.CheckoutButtonWrapper {
  background-color: transparent;
  color: var(--color-fg);

  border: 2px solid var(--color-grey);
  border-radius: 4px;

  padding: 12px 24px 10px;
}

button.CheckoutButtonWrapper:hover {
  background-color: #00000044;
  color: white;
}
