.statsWrapper {
  display: flex;
  padding: 1rem 3rem;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem auto 1rem;
  max-width: 800px;
  width: 100%;
}

.statsWrapper h2 {
  font-size: 27px;
}

ul.statsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  list-style: none;
}

li.statCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding: 1rem 3rem;
  border: 2px solid var(--color-grey);
  border-radius: 0.5rem;
  width: 240px;
  height: 200px;
  background-color: var(--color-bg-dark);
}

li.statCard h3 {
  font-weight: 500;
  opacity: 0.5;
  margin: 0;
}

li.statCard p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 1180px) {
  .statsCards {
    flex-direction: row;
  }
}
