ul.Docs {
  list-style-type: none;
  padding: 0;
  font-size: 13px;
}

li.List {
  padding: 0.5em 12px;
}

li.active {
  color: var(--color-teal);
  background-color: var(--color-teal-transparent);
  font-weight: bold;
  border-radius: 999px;
}
